<center>
<div class='inner'>
	<input type='text' ng-model='search.value' placeholder='Search tweets'>
	<button class='inputSearch' ng-click="search.GetTweets()"> <span class='glyphicon glyphicon-search'> </span> </button>
</div>
</center>