<div class='inner'>
	<div class="jumbotron" ng-show="search.error.length">
	  	<h3>{{search.error[0].header}}</h1>
	  	<p>{{search.error[0].text}}</p>
	</div>
	<div class='custom-pagination box' ng-show="search.tweets.length > search.pagination.itemsPerPage">
		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<button type="button" class="btn btn-default" ng-click="search.pagination.PrevPage()"> <span class="glyphicon glyphicon-arrow-left"></span></button>
		 	<button type="button" class="btn btn-default" ng-click="search.pagination.SetPage($index+1)" ng-class="{'btn-success':$index+1 === search.pagination.currPage}" ng-repeat="i in search.pagination.PagesArray() track by $index">{{$index+1}}</button>
		 	<button type="button" class="btn btn-default" ng-click="search.pagination.NextPage()"> <span class="glyphicon glyphicon-arrow-right"></span></button>
		</div>
	</div>
	<div class='tweet box' ng-repeat="tweet in search.pagination.GetSlicedTweets()">
		<div class='inner'> 
			<div class='avatar'>
				<img src='{{tweet.user.profile_image_url}}'>
				<div class='screen_name'>{{tweet.user.name}} <span>{{tweet.user.screen_name}}</span></div>
				<div class='created_at'>{{tweet.created_at}}
			</div>
			<div class='text' ng-bind-html="tweet.text | highlight:search.value"></div>
			<div class='footer'> 
				<div class='retweet'><span class='glyphicon glyphicon-retweet'></span>{{tweet.retweet_count}}</div>
				<div class='favorite'><span class='glyphicon glyphicon-heart-empty'></span>{{tweet.favorite_count}}</div>
			</div>
			</div>
		</div>
	</div>
	<div class='custom-pagination box' ng-if="search.tweets.length > search.pagination.itemsPerPage">
		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<button type="button" class="btn btn-default" ng-click="search.pagination.PrevPage()"> <span class="glyphicon glyphicon-arrow-left"></span></button>
		 	<button type="button" class="btn btn-default" ng-click="search.pagination.SetPage($index+1)" ng-class="{'btn-success':$index+1 === search.pagination.currPage}" ng-repeat="i in search.pagination.PagesArray() track by $index">{{$index+1}}</button>
		 	<button type="button" class="btn btn-default" ng-click="search.pagination.NextPage()"> <span class="glyphicon glyphicon-arrow-right"></span></button>
		</div>
	</div>
</div>