body {background-color:#000;color: #292F33;font-size: 14px;line-height: 18px;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.container{text-align: left;max-width:700px;}
.inner {position:relative;}
.box {background-clip: padding-box;background-color:#fff;border: 0px none;border-radius: 6px;line-height: 16px;}
.content {margin-top:70px;}
.content.item {display:inline-block;vertical-align: top;}
.content.item.s{min-width:200px; width:30%;}
.content.item.m{min-width:350px; width:50%;}
.hightlight {background-color: #009AFD;color:white;}
.btn-toolbar {text-align: center;}
.footer {padding-top:30px;}
.footer div {display:inline-block;padding:5px;}
.avatar .created_at {font-size:10px;color:#333;padding:10px;margin-top:-10px;display:inline;}
.avatar img, .avatar .screen_name {display:inline;vertical-align: top;}
.inner .text {font-size:15px;padding:2px;}
search-bar {background: #FFF none repeat scroll 0% 0%;border-bottom: 1px solid rgba(0, 0, 0, 0.05);position: fixed;top: 0px;right: 0px;left: 0px;z-index: 1000;text-align:center;}
search-bar .inner {height: 46px;display:block;width:200px;}
search-bar .inner input {display: inline-block;box-sizing: border-box;width: 100%;height: 32px;padding: 5px 27px 6px 12px;font-size: 12px;line-height: 1;color: #292F33;background-color: #F5F8FA;border: 1px solid #E1E8ED;border-radius: 21px;transition: all 0.2s ease-in-out 0s;margin:7px 15px 0px 0px;}
button.inputSearch{position:absolute;width:32px;height:32px;background:transparent;border:0px;top:8px;right:2px;z-index:5;}
button.inputSearch:hover{opacity: 0.7;}

search-results {display:block;position:absolute;}
search-results .inner{}
search-results .tweet {position: relative;margin-bottom: 10px;display:inline-block;}
search-results .tweet .inner{padding:10px;}

side-bar {width:200px;display:inline-block;}